body {
  background-color: whitespace;
  font-family: Monoid;
  margin: 0;
}
.navigation {
  position: absolute;
  top: -1px;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  z-index: 200;
}
.link {
  padding: 33px;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  font-style: italic;
  z-index: 300;
  font-family: Monoid;
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-decoration: none;
  color: black;
}
.link:hover {
  cursor: pointer;
}
.main {
  background-color: #FFC90B;
  width: 1440px;
  height: 6850px;
  overflow: hidden;
  margin: 0 auto;
  border: 5px solid black;
}
.intro {
  position: relative;
  height: 1350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 82px;
  top: 50px;
  /* identical to box height, or 86% */

  letter-spacing: 0.1em;

  color: #000000;
  position: relative;
  left: 172px;

  z-index: 100;
}
.image {
  position: absolute;
  width: 120%;
  top: -150px;
  left: 47%;
  transform: translate(-50%, 0);
 /* https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */
}

.image2 {
  position: relative;
  top: -300px
}
.image3 {
  position: relative;
  top: -950px
}
.image4 {
  position: relative;
  top: -1350px
}
.regular {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  top: -1765px;
  right: -520px


}
.italic {
  position: relative;
  font-family: Monoid;
  font-style: italic;
  font-weight: normal;
  font-size: 72px;
  top: -1785px;
  right: -420px

}
.bold {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  top: -1945px;
  right: -775px

}

.text1 {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  top:-2510px;
  right: -1000px

}

.image5 {
  position: relative;
  top: -2150px
}

.prim {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  top:-2750px;
  right: -1000px
}

.text2 {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  top:-3510px;
  right: -710px

}

.prim2 {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  top:-3930px;
  right: -713px
}

.image6 {
  position: relative;
  top: -2800px
}
.image7 {
  position: relative;
  top: -3550px
}

.text3 {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  top:-2835px;
  right: -720px

}

.text4 {
  position: relative;
  font-family: Monoid;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  top:-4525px;
  right: -220px
}
